#clockContainer{
    position: relative;
    height: 40vw;
    width: 40vw;
    
    background: url(clock.png) no-repeat;
    margin: auto;
    background-size: 100%;
}

#hour, #minute, #second{
    position: relative;
    width: 300px;
    height: 350px;
    background: #fff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
    border-radius: 10px;
}

#hour{
    width: 1.8%;
    height: 19%;
    top: 31%;
    left: 49.5%;
    transform-origin: bottom;
    
} 



#minute{
position: relative;
    width: 300px;
    height: 350px;
    background: #fff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
}

#second{
  position: relative;
    width: 300px;
    height: 350px;
    background: #fff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
}
